# Path to the data to be indexed in the vector store
DATA_PATH=data/1_interim/records/json

# Ollama
OLLAMA_URL=http://127.0.0.1:11434
# OLLAMA_REQUEST_TIMEOUT=30

# The name of LLM model to use.
MODEL=mistral

# Name of the embedding model to use.
EMBEDDING_MODEL=mistral

# Use semantic splitter? If False uses setence splitter with the chunk settings
USE_SEMANTIC_SPLITTER=True

# Chunk settings for sentence splitters.
CHUNK_SIZE=512
CHUNK_OVERLAP=32

# Semantic splitter settings
SEMANTIC_SPLITTER_BUFFER_SIZE=1
SEMANTIC_SPLITTER_BREAKPOINT_PERCENTILE_THRESHOLD=95

# Vector store
VECTOR_STORE_URL=http://localhost
VECTOR_STORE_PORT=6333
VECTOR_STORE_COLLECTION_NAME=school-records-semantic

# The number of similar embeddings to return when retrieving documents.
TOP_K=10

# Path to the prompt for the AI model
PROMPT_PATH=data/0_raw/prompt.txt