# Path to the data to be indexed in the vector store
DATA_PATH=data/1_interim/records/json
# Number of documents to index, 0 to index all
DATA_SIZE=0

# Path to the geo data
GEO_DATA_PATH=data/0_raw/nsw-missions.csv

# Device, cpu, cuda, mps, etc
DEVICE=mps

# Ollama
OLLAMA_URL=http://127.0.0.1:11434
# OLLAMA_REQUEST_TIMEOUT=30

# The name of LLM model to use.
MODEL=mistral

# Name of the embedding model to use.
EMBEDDING_MODEL=mistral

# Use semantic splitter? If False uses setence splitter with the chunk settings
USE_SEMANTIC_SPLITTER=True

# Chunk settings for sentence splitters.
CHUNK_SIZE=512
CHUNK_OVERLAP=32

# Semantic splitter settings
SEMANTIC_SPLITTER_BUFFER_SIZE=1
SEMANTIC_SPLITTER_BREAKPOINT_PERCENTILE_THRESHOLD=95

# Extractors
# Entities
ENTITY_EXTRACTOR_PREDICTION_THRESHOLD=0.6
ENTITY_EXTRACTOR_LABEL_ENTITIES=True
# Title
TITLE_EXTRACTOR_NODES=2
# Questions answered
QUESTIONS_ANSWERED_EXTRACTOR_QUESTIONS=3
# Summaries
SUMMARY_EXTRACTOR_SUMMARIES=prev,self,next
# Keywords
KEYWORD_EXTRACTOR_KEYWORDS=5

# Vector store
VECTOR_STORE_URL=http://localhost
VECTOR_STORE_PORT=6333
VECTOR_STORE_COLLECTION_NAME=school-records-semantic

# BM25
BM25_PERSIST_DIR=data/2_final/bm25

# Cache
USE_CACHE=True
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# The number of similar embeddings to return when retrieving documents.
TOP_K=5

# Path to the prompt for the AI model
PROMPT_PATH=data/0_raw/prompt.txt